html {
    margin: 0;
    padding: 0;
}
body {
    font: 75% georgia, sans-serif;
    line-height: 1.8;
    color: #555753;
}
header {
    background-color: #f6c192;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
footer {
    background-color: #f6c192;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}
.content {
    background-color: #e7f99d;
}
.navbar {
    background-color: #bb8649;
    padding-left: 1.5%;
    font-size: larger;
    font-weight: bold;
}

.nav-item{
    padding-right: 20px;
}

.nav-link {
    color: white;
}

.about {
    font: 150% georgia, sans-serif;
    line-height: 1.8;
    color: #555753;
}

.historyPanel {
    border: 6px double #404040;
    alignment: center;
    margin: 5% 5% 5% 5%;
    padding: 2% 2% 2% 2%;
    width: 80%;
    height: 80%;
    font-size: 18px;
}
.historyPanel p:nth-last-of-type(1) {
    font-weight: bold;
}
.chessboard {
    border: 2px solid #404040;
    alignment: center;
    margin: 5% 5% 5% 5%;
    width: 60%;
    font-size: 0;
}
.fieldbutton {
    border: none;
    padding: 6.25%;
    margin: 0;
    background-size: 95%;
}
.fieldbutton:hover {
    box-shadow:inset 0px 0px 0px 3px #6c0b00;
}
.fieldbutton:active {
    box-shadow:inset 0px 0px 0px 4px #ba0d00;
}
.white {
    background-color: #fcc797;
}
.black {
    background-color: #bb8649;
}
.clickedFirst {
    box-shadow:inset 0px 0px 0px 5px #6c0b00;
}

/* (NOT SURE IF EVEN POSSIBLE) Find a way to use string interpolation to replace all the following css-classes with something like this:
.fieldbutton[piece=<value>] {
    background-image: url("../images/<value>.png");
    background-repeat: no-repeat;
    background-position: center;
}
* Also we cannot optimize (one-liner) background declaration here, since it would overwrite the cells background color.
*/
.fieldbutton[piece=KingBLACK] {
    background-image: url("../images/KingBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=KingWHITE] {
    background-image: url("../images/KingWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=QueenBLACK] {
    background-image: url("../images/QueenBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=QueenWHITE] {
    background-image: url("../images/QueenWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=BishopBLACK] {
    background-image: url("../images/BishopBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
 }
.fieldbutton[piece=BishopWHITE] {
    background-image: url("../images/BishopWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=KnightBLACK] {
    background-image: url("../images/KnightBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=KnightWHITE] {
    background-image: url("../images/KnightWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=RookBLACK] {
    background-image: url("../images/RookBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=RookWHITE] {
    background-image: url("../images/RookWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=PawnBLACK] {
    background-image: url("../images/PawnBLACK.png");
    background-repeat: no-repeat;
    background-position: center;
}
.fieldbutton[piece=PawnWHITE] {
    background-image: url("../images/PawnWHITE.png");
    background-repeat: no-repeat;
    background-position: center;
}
