/*
This is our CSS-file which expands the initial bootstrap-template.
For additional information about css-properties see this documentaion:
https://www.w3schools.com/cssref/
*/

/* elements */
html {
    margin: 0;
    padding: 0;
}
body {
    font: 75% georgia, sans-serif;
    line-height: 1.8;
    color: #555753;
}
header {
    background-color: #f6c192;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}
footer {
    background-color: #f6c192;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    font-style: oblique;
}
p {
    text-align: justify;
}

/* classes */
.navbar {
    background-color: #c57d25;
    padding-left: 1.5%;
    font-size: larger;
}
.nav-item{
    padding-right: 20px;
}
.content {
    background-color: #e7f99d;
    padding-left: 1%;
}
.board {
    border: 2px solid #373737;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.square {
    float: left;
    position: relative;

    /* disable any native browser highlighting */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.white {
    background-color: #efe7e2;
    color: #474747;
}
.black {
    background-color: #474747;
    color: #efe7e2;
}