@(controller: de.htwg.chess.controller.IChessController)

@index("HTWG Chess") {
    <div>
            <!-- CONTENT -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div id="vueChessboard">
                        <vue-chessboard></vue-chessboard>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div id="vueHistoryPanel">
                        <vue-history></vue-history>
                    </div>
                </div>
            </div>
        </div>
    </div>
}