@import play.api.i18n.Messages
@import play.api.mvc.RequestHeader
@import play.twirl.api.Html
@import org.webjars.play.WebJarsUtil
@import controllers.AssetsFinder

@(title: String, user: Option[models.User] = None)(content: Html)(implicit request: RequestHeader, messages: Messages, assets: AssetsFinder, webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/vue.js")" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/chessVue.js")" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" defer></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-light">
            <a class="navbar-brand" href="/chess">HTWG Chess</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link text-white" href="new">New Game</a></li>
                    <li class="nav-item"><a class="nav-link text-white" target="_blank" href="https://www.chess.com/learn-how-to-play-chess">Chess rules</a></li>
                    <li class="nav-item"><a class="nav-link text-white" href="about">About</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @user.map { u =>
                    <li class="nav-item"><a class="nav-link text-white" href="@controllers.routes.ApplicationController.index">@u.name</a></li>
                    @if(u.loginInfo.providerID == com.mohiva.play.silhouette.impl.providers.CredentialsProvider.ID) {
                        <li class="nav-item"><a class="nav-link text-white" href="@controllers.routes.ChangePasswordController.view">@messages("change.password")</a></li>
                    }
                    <li class="nav-item"><a class="nav-link text-white" href="@controllers.routes.ApplicationController.signOut">@messages("sign.out")</a></li>
                    }.getOrElse {
                        <li class="nav-item"><a class="nav-link text-white" href="@controllers.routes.SignInController.view">@messages("sign.in")</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="@controllers.routes.SignUpController.view">@messages("sign.up")</a></li>
                    }
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            @request.flash.get("error").map { msg =>
                <div class="col-md-6 col-md-offset-3 alert alert-danger">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@messages("error")</strong> @msg
                </div>
            }
            @request.flash.get("info").map { msg =>
                <div class="col-md-6 col-md-offset-3 alert alert-info">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@messages("info")</strong> @msg
                </div>
            }
            @request.flash.get("success").map { msg =>
                <div class="col-md-6 col-md-offset-3 alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <strong>@messages("success")</strong> @msg
                </div>
            }
            @content
        </div>
        @Html(webJarsUtil.script("jquery.min.js"))
        @Html(webJarsUtil.script("bootstrap.min.js"))
        <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
        <script src="@assets.path("javascripts/zxcvbnShim.js")"></script>
    </body>
</html>
