@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * one arguments, an `Html` object to insert into the body of the page.
 *@
@(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome to Chess</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript" defer></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" type="text/javascript" defer></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/vue.js")" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/chessVue.js")" type="text/javascript" defer></script>
        <script src="@routes.Assets.versioned("javascripts/main.js")" type="text/javascript" defer></script>

    </head>
    <body>
        @content
    </body>
</html>
